@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */



  .carousel .control-dots {
    position: absolute;
    bottom: 0;
    margin: -5px 0;
    padding: 0;
    text-align: center;
    width: 100%;
    z-index: 1;
}
.carousel .control-dots .dot li{
    margin: 0 15px;
}
/* @layer utilities {
    .hover:hover {
      @apply bg-teal-500;
    }
    .hover:hover Image {
      @apply bg-white;
    }
  } */
  .serviceCard:hover .hoverBgChange {
    background-color: #F3F8FF; 
    
  }