@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */


/* .carousel .control-prev,
.carousel .control-next {
  display: block;
  position: absolute;
}


@media screen and (max-width: 767px) {
  .carousel .control-prev {
    top: 50%; 
    left: 0;
  }

  .carousel .control-next {
    top: 50%; 
    right: 0;
  }
} */

.carousel .control-dots .dot {
    display: none !important;
   
    /* Adjust this value as needed */
  }
 
  .svg-container {
    
    box-shadow: 10px 10px 10px rgba(2, 82, 205, 0.28);
  }

  .serviceCard:hover .hoverBgChange {
    background-color: #F3F8FF; 
    
    
  }

  .no-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 11 */
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* WebKit (Safari, Chrome, etc.) */
  }